
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.login{
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.login input{
  height: 40px;
  margin-bottom: 10px;
}
.login a{
  display: inline-block;
  width: 100%;
}


.profile{

}
.profile .left{
  text-align: left;
}
.profile .left img{
  width: 100%;
}
.profile .right{
  padding-top: 20px;
}
.profile .right .nav{
  margin-bottom: 10px;
}

.matches img{
  width: 100%;
}
.matches h3{
  margin: 0px;
}
.matches p{
  margin: 0px;
}
.matches a{
  display: block;
  width: 100px;
  margin-top: 10px;
}

.message{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.message .right{
  padding-top: 0px;
}
.message textarea{
  height: 215px;
}
.message a{
  margin-top: 10px;
  float: right;
}

.messages .me{
  text-align: right;
  color: red;
}

.messages .other{
  color: blue;
}
